@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #1e1f54;
  --light-blue: #dfe6f9;
  --color-primary: #9d0191;
  --color-secondary: #db6400;
  --grey: #eee;
  --dark-grey: #363a41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1c2b2d;
}

.general-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.container-instructions {
  width: 20%;
  min-width: 300px;
  margin: 0 auto;
  padding: 50px 45px;
  background-color: var(--light-blue);
}

.title {
  color: var(--blue);
  margin-bottom: 20px;
}

.subtitle {
  color: var(--dark-grey);
  font-size: 17px;
  margin-bottom: 15px;
}

.list {
  margin-left: 15px;
  color: var(--dark-grey);
}

.list li {
  margin-bottom: 8px;
}

.container-link-creator {
  width: 80%;
  background-color: rgb(250, 253, 255);
}

.about-group {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: rgb(163, 163, 163);
}

.about a {
  color: #b8b8b8;
  text-decoration: underline;
  cursor: pointer;
}

.about a:hover {
  color: #8482a7;
  transition: 0.3s;
}

.about-group img {
  width: 20px;
  opacity: 60%;
  margin-left: 10px;
  filter: invert(100%);
}

.about-group img:hover {
  opacity: 30%;
  transition: 0.3s;
}
